@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

.bubbles {
    /* filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 3px rgb(255, 255, 255)); */
    fill: none;
    /* stroke: white; */
    stroke-width: 1px;
    position: relative;

}

.bubbles:hover {
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
    -webkit-filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.bubbles:after {}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 16px #0006;
    background-color: #444444;
    position: sticky;
    top: 0;
    z-index: 110;
    height: 54px;

}

.example {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}

.nav .logo img {
    /* font-family: "Rubik Moonrocks", sans-serif;
    color: red */
    width: auto;
    height: 40px;
}

#filters {
    display: flex;
    column-gap: 40px;
}

#filters label.filters {
    font-size: 18px;
    font-family: "Belanosima", sans-serif;
    padding-right: 12px;
    font-weight: 600;
}

#filters select.custom-select {
    border: 1px solid #222;
    border-radius: 6px;
    padding: 2px;
    font-size: 16px;
    font-family: "Belanosima", sans-serif;
    background: #ebebeb;
}

.input {
    border-radius: 12px;
    border: 1px;
    margin-right: 1em;
    transition: box-shadow .4s;
    box-shadow: inset 0 0 1px 1px #ffffff4d;
    background-color: #0003;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    cursor: text;
    box-sizing: border-box;
}

.spring {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: visible;
}

.bubble {
    background: rgba(255, 255, 255, .4);
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    left: 0;
    margin-left: -12px;
    bottom: 0;
    opacity: 0;
    border-radius: 50%;
    animation: bubbleUp 1s infinite ease-in-out;
    -webkit-animation: bubbleUp 1s infinite ease-in-out;
    -o-animation: bubbleUp 1s infinite ease-in-out;
    -moz-animation: bubbleUp 1s infinite ease-in-out;
}


.bubble1 {
    left: 0px;
    top: 0px;
    -webkit-animation-delay: 0;
    /* Chrome, Safari, Opera */

    animation-delay: 0;
}

@keyframes bubbleUp {
    0% {
      top: 0px;
      -webkit-transform: scale(0.5);
      opacity: 0
    }
    20% {
      top: 0px;
      -webkit-transform: scale(.7);
      opacity: 1
    }
    93% {
      top: -30px;
      -webkit-transform: scale(1);
      opacity: 1
    }
    99% {
      top: -36px;
      -webkit-transform: scale(2);
      opacity: 0
    }
    100% {
      top: 0px;
      -webkit-transform: scale(1);
      opacity: 0
    }
  }

  .loadingContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
  }

  .solid-button {
    border-radius: 12px;
    border: 1px;
    background-color: #ffffff1f;
    transition: background-color .4s;
    margin: 0;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    padding: 6px 7px;
    color: white;
  }